#countLable {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20 px;
    font-size: 2em;
    color: white;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(0, 0, 0);

}